<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon collapsible__chevron">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit molestias
    eos in deserunt magni commodi, dolorum sequi, hic maiores porro eius sit, id
    numquam omnis quibusdam ducimus! Tenetur, quibusdam suscipit?
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon collapsible__chevron">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit molestias
    eos in deserunt magni commodi, dolorum sequi, hic maiores porro eius sit, id
    numquam omnis quibusdam ducimus! Tenetur, quibusdam suscipit?
  </div>
</div>
